div(class="bg-white shadow rounded-lg")
    img(class="object-cover h-72 w-full" src=`/uploads/${propiedad.imagen}` alt=`House image ${propiedad.title}`)
    
    div(class="p-5 space-y-3")
        h3(class="text-2xl font-bold")= propiedad.title 

        p(class="text-sm text-gray-600") Rooms: 
            span(class="text-gray-800 font-bold")= propiedad.rooms
        p(class="text-sm text-gray-600") Wc: 
            span(class="text-gray-800 font-bold")= propiedad.wc
        p(class="text-sm text-gray-600") Price: 
            span(class="text-gray-800 font-bold")= propiedad.precio.nombre

        a(href=`/property/${propiedad.id}` class="bg-indigo-600 w-full text-center block font-bold text-white p-2 uppercase rounded") See Property